<div class="m-3 p-2">
    <h5 style="color: rgb(255, 101, 41);">Sala de Control</h5>
    <div>
        <p>¡Hola de nuevo, {{nombre}}!</p>
        <p>Desde esta seccion podras acceder a funciones para añadir actualizaciones al sitio. <br> Ante cualquier problema no dudes en consultarme.</p>

    </div>
</div>