<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>

{{#unless afiliado}}
<p>No estas ingresado aun.</p>
<form action="/ingreso" method="post">
    <label for="quien">Afiliado: </label>
    <input type="text" name="quien">
    <button>Entrar</button>
</form>
{{/unless}}

{{#if afiliado}}
<p><h4>Hola de nuevo, {{quien}}.</h4></p>
<p>Accede a tu perfil para mas opciones.</p>
{{/if}}