<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a href="/requisitos">Requisitos</a>
      <a href="/pedido">Pedido</a>
      <a href="/fin">Fin</a>
    </nav>
    {{{body}}}
  </body>
</html>
