<br>
<h2>Pedido</h2>
<form>
    <label for="contacto">Sus datos:</label>
    <ul>
        <li><input type="text" name="cnombre" placeholder="Nombre completo"></li>
        <li><input type="email" name="cmail" placeholder="direccion@ejemplo.com"></li>
    </ul>
    <label for="detalle">Detalles de pedido:</label>
    <br>
    <textarea name="detalle" id="pdetalle" cols="40" rows="14">Escriba su pedido aqui</textarea>
    <br>
    <button type="submit">Enviar</button>
</form>