<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<h2>Productos</h2>
<table class="center">
    <tr>
        <th>ID</th>
        <th>Descripcion</th>
    </tr>
    <tr>
        <td>Halo</td>
        <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum, aliquid itaque beatae ad nisi ab recusandae cupiditate sed. Explicabo iure natus voluptas eaque eveniet dolorum facilis perferendis alias tempora?
        </td>
    </tr>
    <tr>
        <td>Sintec</td>
        <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum, aliquid itaque beatae ad nisi ab recusandae cupiditate sed. Explicabo iure natus voluptas eaque eveniet dolorum facilis perferendis alias tempora?
        </td>
    </tr>
    <tr>
        <td>Comm</td>
        <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum, aliquid itaque beatae ad nisi ab recusandae cupiditate sed. Explicabo iure natus voluptas eaque eveniet dolorum facilis perferendis alias tempora?
        </td>
    </tr>


</table>