<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Inicio</a>
      <a href="/probando">Probando</a>
      <a href="/coleccion">Colección</a>
      <a href="/instrucciones">Instrucciones</a>
      <a href="/urgg">??</a>
    </nav>
    {{{body}}}
  </body>
</html>
