<div class="sectionario">
    <h2 class="ps-4">Ultimas novedades</h2>
</div>
<div id="noticias" class="seccione row gap-2 mt-2">
    <div id="nota" class="col-7">
        <!-- por defecto se llena con el ultimo articulo agregado, haces click y esta seccion cambia para mostrar la noticia elegida -->
        <div id="titularMAX" class="f-2 fw-bolder"></div>
        <div id="corporalnota" class="text-start text-wrap"></div>
        <div id="fechaNota" class="f-6"></div>


    </div>
    <div id="articulos" class="col-4">
        <!-- aca tendria que buscar y generar links segun cuantos articulos titulares tengo o tendran que estar cargados todos si o si para poder llamarlos a vista -->
        <ul id="articuloslista" class="overflow-auto">
            <li><a onclick="verNoticia(art4)">¡Ricardo hizo una donación!</a></li>
            <li><a onclick="verNoticia(art3)">¡Bienvenido Lupo!</a></li>
            <li><a onclick="verNoticia(art2)">¡Monzo encontró hogar!</a></li>
            <li><a onclick="verNoticia(art1)">Campaña de vacunaciones</a></li>
        </ul>
    </div>

</div>