#barraSup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 46px;
    background-color: rgb(245, 155, 90);
    border-bottom: 2px double goldenrod;
    float: top;
    padding-bottom: 14px;
}
#barraSup h2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 2px grey;
}
#barraSup .partion{
    display: flex;
    height: inherit;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 14px;
}
#patroCard{
    width: 30vw;
    min-width: 500px;
    margin-left: 8vh;
    margin-right: 4vh;
    margin-top: 6vh;
    border: 1px solid rgb(69, 83, 72);


}
#apaCorpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#apaTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(255, 101, 41);
    font-weight: 500;
    font-size: large;
}
#apaFoto{
    max-height: 300px;
    max-width: 300px;

}
#apaNotis{
    display: flex;
    justify-content: fill;
    justify-items: stretch;
}
#apadrinados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.nats{
    height: calc(100% / 4);

}
#marcoReg{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    width:fit-content;
    background-color: darkseagreen;
    border: 1px solid darkolivegreen;
}
#registrar{
    font-size: large;
    background-color: white;
    border: 1px solid grey;

}
