#presentador{
    display: flex;
    align-items: stretch;
    height: 50vh;
    width: 100vw;
    background-image: url(/images/poster.jpg);
    background-size: cover;
    background-color: darkkhaki;
}
#poster{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70vw;
}
#breves #tituloNews{
    font-weight: 800;
}
#breves{
    width: 30vw;
    height: inherit;
    font-weight: bold; 
    font-size: large;
    /* background-color: rgba(255, 245, 155, 0.95); */
    background-color: rgba(181, 241, 111, 0.95);
}
#adopciones{
    display: flex;
    flex-wrap: wrap;
}
#lugarfoto{
    width: 80vw;
    margin-inline-start: 8vw;
}
#nota{
    height: 60vh;
    margin-left: 30px;
    padding: 14px 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.8);
}
#articuloslista{
    padding: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: underline;
    font-weight: 600;
    color: #181818;
    background: linear-gradient(180deg,#b2d2ba 0%, rgba(134,228,134,0.42) 86%);
    cursor: pointer;
    height: 60vh;
    list-style-type: none;
}
.visible .titulo ::first-letter{
    width: fit-content;
    font-size: 60;
    color: rgb(255, 101, 41);
    /* background-color: white; */
    padding: 2px;
    margin-bottom: 2px;
}
.visible .titulo{
    display: flex;
    justify-content: space-between;
    font-size: 56px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    margin-bottom: -10px;
}
.visible .intramarco{
    display: flex;
    flex-direction: column;
    
    height: inherit;
    margin: 8px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 145, 101, 0.8);
}
.visible{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    bottom: 20%;
    left: 4%;
    right: 4%;
    z-index: 20;
    width: 80vw;
    height: 80vh;
    margin: 20px;
    padding: 8px;
    background-color: rgba(9, 75, 55, 0.8);
    border: 3px double rgba(18, 48, 39, 0.8);
}
.oculto{
    display: none;
}
.sectionario{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    height: 8vh;
    width: 96vw;
    font-weight: 800;
    font-size: 46px;
    border-bottom: 3px double rgba(0, 0, 0, 0.6);
    /* text-decoration: underline black 4px; */
}
.seccione{
    scroll-margin-top: 80px; 
}
h3{
    color:coral;
    font-weight: 600;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: darkslategray;
}
a{
    color: #00331a;
}
nav{
    font-weight: bolder;
    background-color: #00d169;
    border-bottom: 1px solid rgb(174, 182, 94);
}
body{
    background-color: rgb(253, 253, 186);
    font-family:'Cabin', sans-serif;
    padding-bottom: 60px;
}
footer{
    color:  #e0ebeb;
    background-color: rgb(90, 124, 124);
    text-align: center;
    font-size: smaller;
}
