{{!-- aca va la seccione --}}
{{!-- esta la intro --}}
<div>
    <p>
        ¿Te gustaria colaborar de forma mas dinamica con nuestro santuario? Volvete patrocinador de alguno (o algunos!) de nuestros residentes permanentes. No solo 
        ayudas monetariamente a darles lo mejor, sino que ganas acceso a reportes detallados de como los trata la vida en el campo. ¡El unico reporte estilo paparazzi
        hecho sin maltrato animal!
    </p>
</div>
{{!-- aca va la grilla con los animales a elegir para patrocinar --}}
{{!-- FIJATE SI ESTO NO VA EN LA SUBCARPETA USUARIOS!!!!! --}}
{{!-- (CAPAZ QUE DOS VERSIONES, UNA PARA INGRESADOS Y OTRA CON EL LIN PARA REGISTRARSE???) --}}
<div>
    
</div>