<div class="sectionario">
    <h2 class="ps-4">Sobre nosotros</h2>
</div>
<div id="staff" class="seccione">
    <div class="row mt-3">
        <img src="/images/campo.jpg" id="lugarfoto" class="/images-fluid rounded" alt="nuestro edificio">
        <div class="ms-4 me-4">
            <p class="fw-semibold">
                ¡Todo animal merece ser cuidado y tener una vida digna! Queremos darle un espacio a aquellos animales
                que por razon u otra terminaron en el abandono, y tambien la
                posibilidad de hallar a aquella familia que pueda devolverles el cariño que ellos van a dar. <br>
                Gracias a
                las personas maravillosas que nos ayudan día a día, este refugio ha sido hogar tanto temporal como
                permanente
                para muchos animales.
            </p>
        </div>
    </div>
    <div class="row container text-center g-2">
        <p>Conoce a algunas de las personas que a diario dan todo de si para que todo resulte</p>
        <div class="col quienes">
            <img src="/images/staff-1.jpg" alt="monica">
            <h4>Monica</h4>
        </div>
        <div class="col quienes">
            <img src="/images/staff-2.jpg" alt="jose">
            <h4>Jose</h4>
        </div>
        <div class="col quienes">
            <img src="/images/staff-3.jpg" alt="tamara">
            <h4>Tamara</h4>
        </div>
        <div class="col quienes">
            <img src="/images/staff-4.jpg" alt="esteban">
            <h4>Esteban</h4>
        </div>
        <div class="col quienes">
            <img src="/images/staff-5.jpg" alt="graciela">
            <h4>Graciela</h4>
        </div>
    </div>
</div>