<div class="sectionario">
    <h2 class="ps-4">Sobre nosotros</h2>
</div>
<div id="staff" class="seccione">
    <div class="lugar mt-3 bg-transparent border-0">
        <img src="/images/campo.jpg" id="lugarfoto" class="img-fluid mx-auto" alt="nuestro edificio">
        <div  class="mx-auto text-center" style="max-width: 900px;">
            <p class="p-3">
                ¡Todo animal merece ser cuidado y tener una vida digna!<br>Queremos darle un espacio a aquellos animales que por razon u otra terminaron en el abandono, y tambien la posibilidad de hallar a aquella familia que pueda devolverles el cariño que ellos van a dar. <br>
                Gracias a las personas maravillosas que nos ayudan día a día, este refugio ha sido hogar tanto temporal como permanente para muchos animales.
            </p>
        </div>     
    </div>
    
    <h5 class="mt-3 mx-auto p-3">Conoce a algunas de las personas que estan como voluntarios permanentes, dia a día en el refugio:</h5>
    <div id="staffnos" class="container text-center overflow-visible border border-success">
        <div class="quienes">
            <img src="/images/staff-1.jpg" alt="monica">
            <h4>Monica</h4>
        </div>
        <div class="quienes">
            <img src="/images/staff-2.jpg" alt="jose">
            <h4>Jose</h4>
        </div>
        <div class="quienes">
            <img src="/images/staff-3.jpg" alt="tamara">
            <h4>Tamara</h4>
        </div>
        <div class="quienes">
            <img src="/images/staff-4.jpg" alt="esteban">
            <h4>Esteban</h4>
        </div>
        <div class="quienes">
            <img src="/images/staff-5.jpg" alt="graciela">
            <h4>Graciela</h4>
        </div>
    </div>
</div>